<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h3>Book for visit</h3>
    <form id="visit" name="visit" action="" method="post">
      {% csrf_token %} 
      FromDate: <input type="text" id="fromdate" name="fromdate"  placeholder="fromdate" ><br><br>
      ToDate: <input type="text" id="todate" name="todate"  placeholder="todate" ><br><br>
      NoOfGuest: <input type="text" id="noofguest" name="noofguest"  placeholder="noofguest" ><br><br>
      TypeOfAcc: <input type="text" id="typeofacc" name="typeofacc"  placeholder="typeofacc" ><br><br><br>
      <input type="submit" name="submit" value="submit"><br>
  </form>
</body>
</html>